.player-background {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('assets/background.png') no-repeat center center;
  background-size: cover;
}

.player-container {
  width: 50vw;
  height: 50vh;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.5); 
  border-radius: 16px; 
  box-shadow: 0 4px 32px rgba(0,0,0,0.2);
}